// Define base colors for dark theme
$text-color: #f6f6f9;
$text-color-active: #f6f6f9;
$text-color-disabled: #666;
$background-color: #23272f;
$background-color-active: #404755;
$border-color: #353b46;
$hover-color: #7ea3e1;

$dark-background-orig: #1d1d1d;
$dark-background: $background-color;
$dark-primary: #0a4983;// #1890ff;
$dark-secondary-orig: #282828;
$dark-secondary: $background-color;
$dark-text: #ffffff;
$dark-border: #7b7b7b; // Darker border color
$dark-border-lighter: #bcbaba; // Darker border color
$dark-hover: gray;;
$dark-divider: #444444; // Divider color
$dark-header-background: #2a2a2a;
$dark-app-alert-background: #565656;
$dark-link-color: #1677ff;
$dark-link-hover: #69b1ff;

$dark-scrollbar-background: #3a3a3a;
$dark-scrollbar-thumb: #5a5a5a;
$dark-scrollbar-thumb-hover: #7a7a7a;
$dark-link-color: #1677ff;
$dark-link-hover: #69b1ff;
$dark-app-alert-background: #565656;
