.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 20px;
  width: 100%;
  height: 44px;
  border-bottom: 2px solid #ccc;
  background-color: #f9f9f9;

  .status {
    float: right;
    line-height: 42px;
    font-size: 14px;

    h1 {
      margin: 0;
      font-size: 20px;
      line-height: 44px;
    }
  }

  .select-case {
    display: flex;
    align-items: center;
    line-height: 44px;
    font-size: 13px;

    .test-case-name {
      margin-right: 15px;
      line-height: 35px;
      max-width: 120px;
      overflow: hidden;
      display: inline-block;
      white-space: nowrap;
      text-overflow: ellipsis;

      &.unsaved {
        color: orange;
  
        &::after {
          content: '*';
          margin-left: 3px;
        }
      }
    }
  }

  .actions {
    margin-top: 6px;

    .ant-btn-group > .ant-btn-group {
      float: none;
    }

    .play-actions {
      margin: 0 10px;
    }
  }
}

.ant-dropdown-menu {
  max-height: 300px;
  overflow-y: auto;

  .editing {
    color: blue !important;
  }
}

.settings-modal {
  .ant-checkbox-wrapper + .ant-checkbox-wrapper {
    margin-left: 0;
  }

  .backup-pane {
    padding: 0 20px;

    h4 {
      font-size: 16px;
      margin-bottom: 10px;
    }

    .row {
      margin-bottom: 10px;
      
    }

    p {
      margin-bottom: 5px;
    }

    ul {
      li {
        margin-bottom: 5px;
      }
    }
  }
}