@import '../../styles/common.scss';

.dashboard {
  @include flexcol();
  flex: 1;
  margin: 15px 15px 0;

  .flex-row {
    display: flex;
    flex-direction: row;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .toolbox {
    display: flex;

    .record-ops {
      flex: 1;
      text-align: right;
    }

    .play-ops {
      margin-left: 15px;
    }
  }

  .ant-table-pagination {
    display: none;
  }

  .ant-table-header {
    overflow: hidden !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;

    .ant-table-thead > tr > th {
      padding: 13px 8px;
    }
  }

  .ant-table-body {
    .ant-table-thead > tr > th {
      padding: 10px 8px;
    }
  }

  .ant-table-tbody > tr > td {
    padding: 8px 8px;
  }

  tr.selected-command > td {
    background-color: #fdffd1 !important;
  }

  tr.error-command > td {
    background-color: #f7c1c1 !important;
  }

  tr.running-command > td {
    background-color: #d5d6f9 !important;
  }

  tr.done-command > td {
    background-color: #d1ffd8 !important;
  }

  .ant-btn-group > .ant-btn-group {
    float: none;
  }

  .ant-form-item {
    margin-bottom: 15px;
  }

  .editor-wrapper {
    @include flexcol();
    flex: 2;
  }

  .commands-view {
    @include flexcol();
    flex: 2;

    .ant-tabs-bar {
      margin-bottom: 0;
    }

    .ant-tabs-content {
      @include flexcol();
      flex: 1;
      padding: 10px;
      border: 1px solid #d9d9d9;
      border-width: 0 1px 1px;

      .ant-tabs-tabpane {
        flex: 1;
        flex-shrink: unset !important;
        position: relative;
      }

      .table-wrapper {
        position: absolute;
        top: 0;
        bottom: 140px;
        left: 0;
        right: 0;
        overflow-y: auto;
      }

      .fields-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 130px;
      }

      .react-codemirror2 {
        position: relative;

        &.has-error {
          height: calc(100% - 70px);
        }

        &.no-error {
          height: calc(100% - 0px);
        }

        .CodeMirror {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: auto;
          font-size: 13px;
        }
      }

      .ant-table-wrapper,
      .ant-spin-nested-loading,
      .ant-spin-container,
      .ant-table,
      .ant-table-content,
      .ant-table-scroll {
        @include flexcol();
        flex: 1;
      }

      .ant-table-scroll {
        overflow-y: auto;
      }
    }

    .command-row {
      position: relative;
      display: flex;
      flex-direction: row;
      padding-left: 5px;
      border-bottom: 1px solid #e9e9e9;
      line-height: 45px;
      font-size: 13px;

      &:hover {
        background: #ecf6fd
      }

      &.header-row,
      &.footer-row {
        background-color: #f7f7f7;
        font-weight: bold;
      }

      &.footer-row {
        display: block;
        text-align: center;
        cursor: pointer;
      }

      &.breakpoint-command {
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 0;
          height: 0;
          border: 8px solid transparent;
          border-left-color: green; 
        }
      }

      &.selected-command {
        background-color: #fdffd1;
      }
    
      &.error-command {
        background-color: #f7c1c1;
      }
    
      &.running-command {
        background-color: #d5d6f9;
      }
    
      &.done-command {
        background-color: #d1ffd8;
      }

      &.comment-command {
        background-color: transparent;
        color: #ccc;
        font-style: italic;

        &.selected-command {
          background-color: #fdffd1;
        }
      }

      .row-col {
        padding: 0 8px;

        &.command-col {
          width: 130px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        &.target-col {
          width: 30%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        &.value-col {
          flex: 1;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        &.op-col {
          width: 80px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .table-footer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    line-height: 32px;
    text-align: center;
    font-weight: bold;
    background: #f7f7f7;
    cursor: pointer;

    &:hover {
      background: #e0e0e0;
    }
  }
  
  .logs-screenshots {
    @include flexcol();
    position: relative;
    margin-top: 15px;

    .resize-handler {
      position: absolute;
      top: -10px;
      left: 0;
      width: 100%;
      height: 6px;
      background: transparent;
      cursor: row-resize;
  
      &:hover, &.focused {
        height: 6px;
        background: #ccc;
      }
    }

    .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
      padding: 5px 12px 4px;
    }

    .ant-tabs {
      @include flexcol();
      flex: 1;
    }

    .ant-tabs-bar {
      margin-bottom: 0;
    }
  
    .ant-tabs-content {
      flex: 1;
      overflow-y: auto;
      min-height: 70px;
      border: 1px solid #d9d9d9;
      border-width: 0 1px 1px;
    }
  
    .ls-toolbox {
      position: absolute;
      right: 0px;
      top: 0px;
    }

    .screenshot-content,
    .log-content {
      padding: 10px 0;
    }

    .screenshot-content {
      li {
        padding: 0 20px 20px;

        .timestamp {
          display: block;
          margin-bottom: 10px;
          font-size: 14px;
        }

        .filename {
          font-weight: bold;
        }

        a {
          display: inline-block;
          margin-left: 20px;
  
          img {
            max-width: 250px;
            border: 1px solid #ccc;
          }
        }
      }
    }

    .log-content {
      list-style: none;
      margin: 0;
      padding: 0 10px;
      height: calc(100% - 38px);
      overflow-y: auto;

      li {
        padding: 5px 0;
        font-size: 12px;
        border-bottom: 1px solid #f3f3f3;

        // clearfix
        &:after {
          content: "";
          display: table;
          clear: both;
        }

        &.error {
          color: red;
          font-weight: bold;
        }

        &.warning {
          color: orange;
        }

        .log-type {
          float: left;
          margin-right: 10px;
        }

        .log-detail {
          white-space: pre-wrap;
        }
      }
    }
    
    .csv-content {
      padding: 10px;

      button {
        margin-right: 5px;
      }
    }

    .variable-content {
      padding: 10px;

      .variable-options {
        margin-bottom: 10px;
      }

      .ant-checkbox-wrapper {
        margin-left: 0 !important;
        margin-right: 10px;
      }

      .read-only {
        color: #ccc;
      }
    }

    .vision-content {
      padding: 10px;

      .vision-top-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        .main-actions {
          display: flex;

          & > * {
            margin-right: 15px;
  
            &:last-child {
              margin-right: 0
            }
          }
  
          .load-image-button {
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
  
            label {
              padding: 0 15px;
              cursor: pointer;
            }
          }
        }

        .more-info {
          font-size: 14px;
        }
      }

      .vision-image {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        overflow: hidden;
        width: 100px;
        height: 100px;
        border: 1px solid #ccc;
        
        img {
          max-height: 100px;
        }
      }

      .vision-name {
        font-size: 14px;
        word-break: break-all;
      }

      .vision-actions {
        button {
          margin-right: 5px;

          &:last-child  {
            margin-right: 0;
          }
        }
      }
    }
  }

  .online-help {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    text-align: right;
  }

  #context_menu {
    z-index: 10;

    .ant-menu {
      border: '1px solid #ccc';
      border-radius: 4px;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);

      .ant-menu-item {
        height: 36px;
        line-height: 36px;

        &:hover {
          background: #ecf6fd;
        }
      }
    }
  }
}

.source-error {
  color: red;
  white-space: pre-wrap;
  font-size: 12px;
}

// For setting menu, default max-height of ant-dropdown-menu is 300px
.ant-dropdown .ant-dropdown-menu {
  max-height: none;
}

@media (max-width: 768px) {
  .rename-modal,
  .duplicate-modal,
  .save-modal,
  .play-loop-modal {
    width: 400px !important;
    margin: 0 auto;
  }
}
